{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        {% block meta %}
        {% endblock meta %}
    </head>

    <body>
        {% block content %}
        {% endblock content %}
    </body>

    <footer class="w-full bg-[#1E1915] text-white flex justify-center py-4">
        <span class="text-center text-xs sm:text-sm md:text-base">Copyright © 2024 <span class="hidden sm:inline"> -</span>
            <br class="block sm:hidden"> ❤❤ Created
            with love by hana 🤭
            ❤❤</span>
    </footer>
</html>